body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #240505;
  background: url("../images/background.png");
}

* {
  box-sizing: border-box;
}

.custom-jumbotron {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  color: #ffffff;
}

/* Custom rows */
.custom-row {
  margin-bottom: 10px;
}

/* Custom cols */
.custom-col {
  margin-bottom: 10px;
}

/* Custom button class */
.custom-button {
  padding: 0;
  border: 2px solid;
  border-color: #240505;
}

.custom-card {
  background: #ffffff;
  border: 5px solid;
}
.custom-card-body {
  background:#f3f0f0;
}

.custom-card-header {
  background: #ad8108;
}

#crystalsCardBody {
  background: #6f027e;
}